.parasztactivityContainer {
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
}

.game {
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.currentWord {
  background-color: papayawhip;
  color: darkslategray;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  padding: 2rem 1rem 2rem 1rem;
  line-height: 1.25;
  box-shadow: 6px 6px 0 0 #00000080;
}

.currentWord:empty {
  height: 1.25em;
  line-height: 1.25;
}

.statusMessage {
  font-weight: bold;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 6px 6px 0 0 #00000080;
}

.correct {
  background-color: mediumspringgreen;
  color: white;
  text-shadow: 2px 2px #00000040;
}

.info {
  background-color: #ffcc00;
  color: white;
  text-shadow: 2px 2px #00000040;
}
.social {
  display: flex;
  flex-direction: column;
  flex: 20%;
}

.chat {
  flex: 60%;
}

.leaderboard {
  flex: 40%;
}

.hatContainer {
  position: relative;
}
.hatImage {
  transform: rotate(165deg) scale(0.6, 0.5);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hatOverlay {
  position: absolute;
  float: left;
  z-index: 1;
  top: calc(50% - 2rem - 2vmin - 10px);
  left: calc(50% - 7rem);
  text-align: center;
}

.statusOverlay {
  position: absolute;
  float: left;
  z-index: 2;
  top: 6rem;
  left: calc(50% - 7rem);
  text-align: center;
}

.timer {
  color: white;
  font-size: calc(10px + 2vmin);
  line-height: calc(10px + 2vmin);
  font-weight: bolder;
  padding: 1rem;
}
