.container {
  text-align: center;
}

.header {
  background-color: #281c24;
  box-shadow: 0px 0px 10px #180011;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 0.5vmin);
  color: #d48824;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d48824;
}

a {
  color: #61dafb;
}

.background {
  --bg: #302328;

  background: linear-gradient(
    71.565deg,
    transparent 0%,
    var(--bg) 0%,
    var(--bg) 25%,
    transparent 25%,
    transparent 50%,
    var(--bg) 50%,
    var(--bg) 75%,
    transparent 75%
  );
  background-size: 25px 75px;
  background-color: #382c34;
}
