.container {
  text-align: center;
}

.header {
  background-color: #281c24;
  box-shadow: 0px 0px 10px #180011;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 0.5vmin);
  color: #d48824;
  padding-left: 2rem;
  padding-right: 2rem;

  justify-content: space-between;
}

.header.notInRoom {
  justify-content: flex-end;
}

.wrapper {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #d48824;
}

a {
  color: #61dafb;
}

@keyframes example {
  from {
    left: 0px;
  }
  to {
    left: -30px;
  }
}

.statusBar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  background-color: red;
  padding: 4px;
  border-radius: 0px 6px 0px 0px;

  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

.red {
  background-color: red;
}

.green {
  background-color: teal;
}

button {
  --bg: #222238;
  --bg-light: #343238;

  font-size: 1rem;
  color: #f84;

  background: linear-gradient(45deg, transparent 0%, var(--bg) 0%, var(--bg) 25%, transparent 25%) 0.5em 0,
    linear-gradient(135deg, transparent 0%, var(--bg) 0%, var(--bg) 25%, transparent 25%) 1em 0.5em,
    linear-gradient(225deg, transparent 0%, var(--bg) 0%, var(--bg) 25%, transparent 25%) 0.5em 1em,
    linear-gradient(315deg, transparent 0%, var(--bg) 0%, var(--bg) 25%, transparent 25%) 0 0.5em;
  background-color: var(--bg-light);
  background-size: 1em 1em;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-width: 4px;
  border-color: #888ca4;
  border-style: ridge;
}

.background {
  --bg: #302328;

  background: linear-gradient(
    71.565deg,
    transparent 0%,
    var(--bg) 0%,
    var(--bg) 25%,
    transparent 25%,
    transparent 50%,
    var(--bg) 50%,
    var(--bg) 75%,
    transparent 75%
  );
  background-size: 25px 75px;
  background-color: #382c34;
}

/* FORM */

form button,
form input,
form select,
form textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
